
:root{
    --image-height:40px;
}


body{
    background-color: rgba(0, 0, 0);
    margin: 0;
    overflow: hidden;
}

.playlists-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 12px;
    margin-bottom: 70px;
}

.playlist-div{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: 100%;
    background-color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    height: 57px;
    gap: 16px;
    cursor: pointer;
}

.playlist-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 12px;
    margin-bottom: 70px;
}

.playlist-img{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
}

.playlist-img-tile{
    height: 100%;
    aspect-ratio: 1/1;
    background-size: cover ;
    background-position: center center;
    background-repeat: no-repeat;
}

.playlist-text-title{
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.playlist-text-author{
    color: #aaaaaa;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.div-playlists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    padding-left: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.div-playlists-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    padding-left: 24px;
}


.playlist-div-item{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: 100%;
    background-color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    height: 57px;
    gap: 16px;

}

.playlist-imgs{
    height: var(--image-height);
    aspect-ratio: 1/1;
    background-size: cover ;
    background-position: center center;
    border-radius: 5px;
    background-repeat: no-repeat;
    
}

.playlist-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    width: fit-content;
    height: 100%;
    gap:4px;
}

.playlist-box-btn{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;
    width: fit-content;
    height: 100%;
}

.playlist-texts-title{
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
    box-sizing: border-box;
}

.playlist-texts-author{
    color: #aaaaaa;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
    box-sizing: border-box;
}

.btn-play{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: white;
    border-radius: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.playlist-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color,border-bottom 200ms ease-in-out;
}

.playlist-banner-filled{
    background-color: black;
    border-bottom: solid 1px rgb(82, 82, 82);
}

.playlist-banner-title{
    color: white;
    opacity: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
    transition: opacity 200ms ease-in-out;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-tab{
    background-color: #212121;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    padding-left: calc(24px + 24px);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    user-select:none;
    -webkit-tap-highlight-color: transparent;

    &[select=true]{
        font-weight: 600;
        background-color: #313131;
    }
}


.nav-tab:nth-child(1){
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJtNy41IDE2LjVsNy0ybDItN2wtNyAyem00LjUtM3EtLjYyNSAwLTEuMDYyLS40MzdUMTAuNSAxMnQuNDM4LTEuMDYyVDEyIDEwLjV0MS4wNjMuNDM4VDEzLjUgMTJ0LS40MzcgMS4wNjNUMTIgMTMuNW0wIDguNXEtMi4wNzUgMC0zLjktLjc4OHQtMy4xNzUtMi4xMzdUMi43ODggMTUuOVQyIDEydC43ODgtMy45dDIuMTM3LTMuMTc1VDguMSAyLjc4OFQxMiAydDMuOS43ODh0My4xNzUgMi4xMzdUMjEuMjEzIDguMVQyMiAxMnQtLjc4OCAzLjl0LTIuMTM3IDMuMTc1dC0zLjE3NSAyLjEzOFQxMiAyMm0wLTJxMy4zMjUgMCA1LjY2My0yLjMzN1QyMCAxMnQtMi4zMzctNS42NjNUMTIgNFQ2LjMzNyA2LjMzOFQ0IDEydDIuMzM4IDUuNjYzVDEyIDIwbTAtOCIvPjwvc3ZnPg==");  
    &[select='true']{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJtNy41IDE2LjVsNy0ybDItN2wtNyAyem00LjUtM3EtLjYyNSAwLTEuMDYyLS40MzdUMTAuNSAxMnQuNDM4LTEuMDYyVDEyIDEwLjV0MS4wNjMuNDM4VDEzLjUgMTJ0LS40MzcgMS4wNjNUMTIgMTMuNW0wIDguNXEtMi4wNzUgMC0zLjktLjc4OHQtMy4xNzUtMi4xMzdUMi43ODggMTUuOVQyIDEydC43ODgtMy45dDIuMTM3LTMuMTc1VDguMSAyLjc4OFQxMiAydDMuOS43ODh0My4xNzUgMi4xMzdUMjEuMjEzIDguMVQyMiAxMnQtLjc4OCAzLjl0LTIuMTM3IDMuMTc1dC0zLjE3NSAyLjEzOFQxMiAyMiIvPjwvc3ZnPg==");
    }
}

.nav-tab:nth-child(2){
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0ibTIxOS4zMSAxMDguNjhsLTgwLTgwYTE2IDE2IDAgMCAwLTIyLjYyIDBsLTgwIDgwQTE1Ljg3IDE1Ljg3IDAgMCAwIDMyIDEyMHY5NmE4IDggMCAwIDAgOCA4aDY0YTggOCAwIDAgMCA4LTh2LTU2aDMydjU2YTggOCAwIDAgMCA4IDhoNjRhOCA4IDAgMCAwIDgtOHYtOTZhMTUuODcgMTUuODcgMCAwIDAtNC42OS0xMS4zMk0yMDggMjA4aC00OHYtNTZhOCA4IDAgMCAwLTgtOGgtNDhhOCA4IDAgMCAwLTggOHY1Nkg0OHYtODhsODAtODBsODAgODBaIiBzdHJva2Utd2lkdGg9IjYuNSIgc3Ryb2tlPSIjZmZmIi8+PC9zdmc+");
    &[select='true']{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIyNCAxMjB2OTZhOCA4IDAgMCAxLTggOGgtNTZhOCA4IDAgMCAxLTgtOHYtNTJhNCA0IDAgMCAwLTQtNGgtNDBhNCA0IDAgMCAwLTQgNHY1MmE4IDggMCAwIDEtOCA4SDQwYTggOCAwIDAgMS04LTh2LTk2YTE2IDE2IDAgMCAxIDQuNjktMTEuMzFsODAtODBhMTYgMTYgMCAwIDEgMjIuNjIgMGw4MCA4MEExNiAxNiAwIDAgMSAyMjQgMTIwIiBzdHJva2Utd2lkdGg9IjYuNSIgc3Ryb2tlPSIjZmZmIi8+PC9zdmc+");
    }
}

.nav-tab:nth-child(3){
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTIgNGE0IDQgMCAwIDEgNCA0YTQgNCAwIDAgMS00IDRhNCA0IDAgMCAxLTQtNGE0IDQgMCAwIDEgNC00bTAgMmEyIDIgMCAwIDAtMiAyYTIgMiAwIDAgMCAyIDJhMiAyIDAgMCAwIDItMmEyIDIgMCAwIDAtMi0ybTAgN2MyLjY3IDAgOCAxLjMzIDggNHYzSDR2LTNjMC0yLjY3IDUuMzMtNCA4LTRtMCAxLjljLTIuOTcgMC02LjEgMS40Ni02LjEgMi4xdjEuMWgxMi4yVjE3YzAtLjY0LTMuMTMtMi4xLTYuMS0yLjEiLz48L3N2Zz4=");
    &[select='true']{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTIgNGE0IDQgMCAwIDEgNCA0YTQgNCAwIDAgMS00IDRhNCA0IDAgMCAxLTQtNGE0IDQgMCAwIDEgNC00bTAgMTBjNC40MiAwIDggMS43OSA4IDR2Mkg0di0yYzAtMi4yMSAzLjU4LTQgOC00Ii8+PC9zdmc+");
    }
}


.mp-img{
    height: calc(100vw - 80px);
    width: calc(100vw - 80px);
    background-size:cover;
    background-position: center center;
    border-radius: 10px;
    background-repeat: no-repeat;
    align-self: center;
    transform-origin: top left;
}

.mp-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
}

.mp-mobileBlocker{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.mp-container{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 40px - 90px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 40px;
    padding-bottom: calc(40px + 50px);
}

.mp-box{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.mp-text-title{
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 27px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
    box-sizing: border-box;
}

.mp-text-author{
    color: #aaaaaa;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
    box-sizing: border-box;
}

.mp-btn-box{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mp-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp-btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100vh;
    height: 60px;
    width: 60px;
}

.mp-slider-box{
    margin-top: 30px;
    width: 100%;
    padding: 10px 0px;
}

@media (pointer: fine) {
    .mp-slider-box:active .mp-slider{
        height: 9px;
    }
    .mp-slider-box:hover .mp-slider{
        height: 9px;
    }
    .mp-slider-box:hover .mp-text-time{
        color: white;
    }
    .mp-slider-box:hover .mp-text-ctime{
        color: white;
    }
}

.mp-slider{
    width: 100%;
    height:3px;
    background-color: rgba(255, 255, 255, 35%);
    border-radius: 8vmin;
    overflow: clip;
    transition: height 150ms;
    transform-origin: center;
}

.mp-slider-bar{
    height: 100%;
    background-color: white;
    transform-origin: left center;
    transform: scaleX(0%);
}

.mp-text-ctime{
    margin: 0;
    color: #aaaaaa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: color 150ms;
}
.mp-text-time{
    margin: 0;
    color: #aaaaaa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: color 150ms;
}

.mp-playlist-bar{
    width: 40px;
    height: 3px;
    border-radius: 50vh;
    background-color: #5e5e5e;
    align-self: center;
    position: absolute;
    bottom: 75px;
    margin-left: calc(50% - 20px);
    z-index: 2;
}

.mp-text-playlist{
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 2;
}

.mp{
    position:fixed;
    bottom:0;
    left:0;
    z-index:2;
    width:100%;
    height:100%;
    display:none;
    user-select:none;
}

.mp-small-box{
    opacity: 0;
    display: flex;
    flex-direction: row;
    /* width: calc(100% - 74px);  */
    width: 100%; 
    height: 60px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.mp-song-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    /* width: calc(100% - 74px);  */
    width: calc(100% - 134px); 
    height: 60px;
    gap:4px;

    position: relative;
    left: calc(56px + 18px);
}

.mp-song-text-title{
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 12px);
    box-sizing: border-box;
}

.mp-song-text-author{
    color: #aaaaaa;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 12px);
    box-sizing: border-box;
}

.mp-small-btn-play{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

    position: relative;
    left: calc(56px + 18px);
}

.explore-search-container{
    width: 100%;
    height: calc(100% - 82px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 70px;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    height: 30px;
    border-radius: 50vh;
    padding: 10px;
    padding-left: 20px;
    gap: 5px;
    width:70%;
    cursor:text;
    
}

@keyframes SearchAnim {
    0%{
        translate: 0px 0px;
    }
    20%{
        translate: 0px 60px;
    }

    100%{
        translate:0px calc(-50vh + 70px + 30px);
    }
}

@keyframes SearchAnimReverse {
    20%{
        translate: 0px 0px;
    }
    100%{
        translate:0px calc(-50vh + 70px + 30px);
    }
}

.search-bar-input{
    background-color: transparent;
    width: 100%;
    border: none;
    color: white;
    font-size: 16px;

    &:focus-visible{
        background-color: transparent;
        border: none;
        outline: none;
    }
    
}

.search-bar-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.btn-search-bar{
    height: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;

}

.channel-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 50px;
    gap: 15px;
    padding-left: 20px;
    -webkit-tap-highlight-color: transparent;
}

.channel-nav-tab{
    color: #aaaaaa;
    font-family: 'Roboto',sans-serif;
    &:hover{
        text-decoration: underline 2px #aaaaaa;
        text-underline-offset:7px;
    }
    user-select: none;
    cursor: pointer;
}

.channel-nav-tab[select=true]{
    color: #ffffff;
    text-decoration: underline 2px #ffffff;
    text-underline-offset:7px;
}

.div-videos{
    display: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
}

.div-shorts{
    display:none;
    color: white;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
}

.channel-nav-text-error{
    width: 100%;
    position: relative;
    left: 0;
    font-size: 16px;
    text-align: center;
}




.menuItem-div{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: 100%;
    height: 57px;
    gap: 16px;
    cursor: pointer;
}

.menuItem-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    width: fit-content;
    height: 100%;
}

.menuItem-name{
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}

.menu-div{
    width: calc(100% - 56px);
    background-color: #212121;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 0px 16px;
}